<h1>Imoveis por id</h1>
<br>
<p> Nome: {{nome}} </p>
<div style="float:left">
<img src="/{{img1}}" style="width:100px;heidht=100px;"alt="">
<img src="/{{img2}}" style="width:100px;heidht=100px;"alt="">
<img src="/{{img3}}" style="width:100px;heidht=100px;"alt="">
</div>
<div style="margin-left:120px">
<p> CPF: {{cpf}} </p>
<p> CRECI: {{creci}} </p>
<p> Contato :{{email}} </p>
<p> Cadastrado desde  :{{created_at}} </p>
</div>
<a href="/delete/corretor/{{cpf}} "><button class="btn btn-success">Excluir</button></a>
<a href="/update/corretor/{{cpf}} "><button class="btn btn-success">Editar</button></a>

<p>{{corretor_cpf}}</p>
<p>{{tipo}}</p>
<p>{{cidade}}</p>

<p>            
{{endereco}}
</p>
<p>

{{cep}}
</p>            
<p>
{{banheiros}}

</p>            
<p>
{{n_quartos}}

</p>            
<p>
{{garagem}}

</p>            
<p>
{{valor}}

</p>            


    


