<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Lista de corretores</h1>
<br>
{{#each corretores}}
<p> Nome: {{nome}} </p>
<div style="float:left">
<img src="/{{img}}" style="width:100px;heidht=200px;"alt="">
</div>
<div style="margin-left:120px">
<p> CPF: {{cpf}} </p>
<p> CRECI: {{creci}} </p>
<p> Contato :{{email}} </p>
</div>
<a href="/delete/corretor/{{cpf}} "><button class="btn btn-primary" style="margin-left:590px; background-color:#57A695;border-color: white;" class="btn btn-primary">Excluir</button></a>
<a href="/update/corretor/{{cpf}} "><button class="btn btn-primary"style="background-color:#57A695;border-color: white;" class="btn btn-primary">Editar</button></a>
<hr>
<br>
<br>




{{/each}}
